@model IEnumerable<Proyecto_Programacion_Grupo_1.Models.Membresia>

@{
    ViewData["Title"] = "Membresías";
}

<h1>Membresías</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Membresía</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MembresiaID" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.MembresiaID" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.MembresiaID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>