@model IEnumerable<Proyecto_Programacion_Grupo_1.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h2>Usuarios</h2>
<a asp-action="Create" class="btn btn-primary">Crear Nuevo Usuario</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Correo</td>
                <td>@usuario.Rol</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.UsuarioID" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@usuario.UsuarioID" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@usuario.UsuarioID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
