@model IEnumerable<Proyecto_Programacion_Grupo_1.Models.Clase>

@{
    ViewData["Title"] = "Clases";
}

<h1>Clases</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Clase</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Academia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Academia.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ClaseID" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClaseID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClaseID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
